<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>SpellBuild | About Us</title>
</head>
<body>
    <div class="header-background">
        <div class="headerTitle">
            SpellBuild
        </div>
        <div class="navbar">
            <a href="../index.html" class="navbar-home">Home</a>
            <a href="media.html" class="navbar-media">Media</a>
            <a href="aboutUs.html" class="navbar-aboutUs">About Us</a>
            <a href="community.html" class="navbar-community">Community</a>
            <a href="buy.html" class="navbar-buy">Buy</a>
        </div>
    </div>
    <div class="aboutUs-background">
        <div class="aboutUs-desc-title">
            About Us
        </div>

        <div class="aboutUs-desc">
            <ul class="about-list">
                <li class="about-list-master"><span >Master Your Magic</span><br>
                    Choose your gauntlets wisely. In Spellbreak, you can dual-wield magical gauntlets that each have two different abilities, giving you four active combat options and a myriad of combination possibilities. Runes provide powerful movement and support abilities to round out your magic arsenal. The balance of fast movement and numerous skillshot abilities creates a deep, skill-based combat system for players to master.
                </li>
                <li class="about-list-create"><span >Create Elemental Spell Combinations</span><br>
                    Use wind to launch yourself skyward or create a tornado that will pull your enemies in. Then light the tornado on fire or electrify it with lightning to ensure maximum damage. Grab a frost gauntlet to lay a path of ice that you and your teammates can skate down at super-speed or melt it with a fireball. There are dozens of spell combinations in Spellbreak and you will need to master all of them if you want to outlast your enemies.

                </li>
                <li class="about-list-choose"><span >Choose Your Class, Craft Your Build</span><br>
                        In addition to the over-the-top combat, we wanted to bring the joy of RPGs and character customization to Spellbreak. Not only can you dual-wield gauntlets, but you can choose a class that unlocks various skills, as well as equip a vast array of powers to further customize your playstyle. Play your own way or team up with friends to synergize your builds (or accidentally set a teammate on fire. Whoops.)
                </li>
                <li class="about-list-become"><span >Become the Ultimate Battlemage</span><br>
                        To win in Spellbreak, it takes quick combat skill, clever magical tactics, smart strategic choices, and a little bit of luck. We know that Spellbreak will be at home on PS4 and we can’t wait to share it with all of you.
                </li>
            </ul>
        </div>
    </div>
    <div class="footer">
        Copyright &copy; 2020 SpellBuild, All Rights Reserved.
    </div>

</body>
</html>