<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>SpellBuild | Media</title>
</head>
<body>
    <div class="content-media">
        <div class="header-background">
            <div class="headerTitle">
                SpellBuild
            </div>
            <div class="navbar">
                <a href="../index.html" class="navbar-home">Home</a>
                <a href="media.html" class="navbar-media">Media</a>
                <a href="aboutUs.html" class="navbar-aboutUs">About Us</a>
                <a href="community.html" class="navbar-community">Community</a>
                <a href="buy.html" class="navbar-buy">Buy</a>
            </div>
        </div>
        <div class="media-background">
            <div class="media-image">
                <div class="media-image1"></div>
                <div class="media-image2"></div>
                <div class="media-image3"></div>
            </div>
        </div>
    </div>

    <div class="footer">
        Copyright &copy; 2020 SpellBuild, All Rights Reserved.
    </div>
</body>
</html>